version: "3.3"
services:
  serverbrowsing:
    ports:
      - "28910:30693"
    env_file: .env-local
    environment:
      RUN_FILE: serverbrowsing
    image: chcniz/openspy-core
  qr:
    ports:
      - "27900:30694/udp"
    env_file: .env-local
    environment:
      RUN_FILE: qr
    image: chcniz/openspy-core
  natneg:
    ports:
      - "27901:30695/udp"
    environment:
      RUN_FILE: natneg
    env_file: .env-local
    image: chcniz/openspy-core
  GP:
    ports:
      - "29900:30974"
    environment:
      RUN_FILE: GP
    env_file: .env-local
    image: chcniz/openspy-core
  SM:
    ports:
      - "29901:30734"
    environment:
      RUN_FILE: SM
    env_file: .env-local
    image: chcniz/openspy-core
  gstats:
    ports:
      - "29920:30836"
    command: /opt/openspy/bin/gstats
    environment:
      RUN_FILE: gstats
    env_file: .env-local
    image: chcniz/openspy-core
  FESL-bf2142:
    ports:
      - "18300:30837"
    environment:
      RUN_FILE: FESL      
    env_file: .env-local
    image: chcniz/openspy-core
    